{{#partial "content"}}
    {{#if categories}}
        <h3><em>L i s t s</em></h3>
        <ul><em>
        {{#each categories}}
            <li><a href="/categories/{{id}}">{{name}}</a></p></li>
        {{/each}}
        </em></ul>
    {{else}}
        <p>empty</p>
        <p><a href="/">go back</a></p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}