<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Blog{{/block}}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<nav class="navbar">
    <ol class="breadcrumb">
        <li><a href="/">home</a></li>
        <li><a href="/categories">lists</a></li>
        <li><a href="/categories/new">new list</a></li>
    </ol>
</nav>
    <!--begin main template-->
<div class="container">
    <div class="page-header">
        <h1><em>T o D o L i s t</em></h1>
        <p>STAY ORGANIZED  //  BE PRODUCTIVE</p>
    </div>
    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>
</div>
<!--end main template-->
{{#block "footer"}}

{{/block}}
</body>
</html>
